



main {
  width: 100vw;
  height: 100vh;
  /* background: orange; */
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 400px;
  background: #e6e6e6;
  padding: 50px;
  /* text-align: center; */
  border-radius: 12px;
}

.box .logo {
  width: 40%;
  margin: 40px auto 10px;
}

.box .title {
  text-align: center;
  padding: 0 30px 30px;
}

.box img {
  width: 100%;
}

.box label {
  text-align: center;
  display: block;
  font-size: 20px;
}

.box input {
  text-align: center;
  display: block;
  width: 70%;
  padding: 6px 20px;
  border: none;
  transition: all 0.5s ease;
  border-radius: 999px;
  outline-color: #ffcc33;
  margin: 20px auto;
}

.box input:focus {
  width: 100%;
}

.box button {
  display: block;
  width: 50%;
  margin: 25px auto;
}